<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
	<h5 class="modal-title">新增摄像头</h5>
</div>

<div class="modal-body">
	<form id="camera-form" name="camera-form" class="form-horizontal">
		<input type="hidden" name="id">
		<div class="box-body">
			<div class="col-md-6">
				<div class="form-group">
					<label for="sheetName" class="col-sm-3 control-label">表单名</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="sheetName" name="sheetName" placeholder="表单名">
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">名字</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="name" name="name" placeholder="名字">
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="col-sm-3 control-label">型号</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="type" name="type" placeholder="型号">
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="col-sm-3 control-label">帐号</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="username" name="username" placeholder="帐号">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="serialNumber" class="col-sm-3 control-label">编号</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="编号">
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-3 control-label">链接</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="url" name="url" placeholder="链接">
					</div>
				</div>
				<div class="form-group">
					<label for="port" class="col-sm-3 control-label">端口</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="port" name="port" placeholder="端口">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">密码</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="password" name="password" placeholder="密码">
					</div>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer text-right">
			<!--以下两种方式提交验证,根据所需选择-->
			<button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
			<button type="submit" class="btn btn-primary" data-btn-type="save">提交</button>
		</div>
		<!-- /.box-footer -->
	</form>

</div>
<script>
	//tableId,queryId,conditionContainer
	var form =null;
	var id="${id?default(0)}";
	$(function() {
		//初始化控件
		form=$("#camera-form").form();
		//数据校验
		$("#camera-form").bootstrapValidator({
			message : '请输入有效值',
			feedbackIcons : {
				valid : 'glyphicon glyphicon-ok',
				invalid : 'glyphicon glyphicon-remove',
				validating : 'glyphicon glyphicon-refresh'
			},
			submitHandler : function(validator, userform, submitButton) {
				//Save Data，对应'submit-提交'
				var params = form.getFormSimpleData();
				ajaxPost(basePath+'/excelimporter/camera/save', params, function(data, status) {
					if(data.success){
						if(id!="0"){//更新
							modals.hideWin(winId);
						    cameraTable.reloadRowData(id); 
						}else{//新增
							 //modals.info("数据保存成功");
							 modals.hideWin(winId); 
							 cameraTable.reloadData(); 
						}
					}				 
				});
			},
			fields : {
				sheetName : {
					validators : {
						notEmpty : {
							message : '请输入表单名'
						}
					}
				},
				url : {
					validators : {
						notEmpty : {
							message : '请输入链接'
						},
						ip : {
							message: '请输入正确的IP地址'
						}
					}
				},
				port : {
					validators : {
						notEmpty : {
							message : '请输入端口'
						},
						digits: {
							message : '请输入正整数'
						},
						between : {
							min : 0,
							max : 65535,
							message : "端口范围: 0-65535"
						}
					}
				},
				username : {
					validators : {
						notEmpty : {
							message : '请输入帐号'
						}
					}
				},
				password:{
					validators:{
						notEmpty:{
							message:'请输入密码',
						}
					}
				}
			}
		});
		form.initComponent();
		//回填id		
		if(id!="0"){
			ajaxPost(basePath+"/excelimporter/camera/get/"+id,null,function(data){
				form.initFormData(data);
			})
		} 
	});
	
	
	function resetForm(){
		form.clearForm();
		$("#camera-form").data('bootstrapValidator').resetForm();
	}
</script>
