<link rel="stylesheet" href="${basePath}/resources/common/libs/bootstrap-fileinput/css/fileinput.min.css" />

<section class="content-header">
    <h1>
        <span>摄像头信息</span>
        <small id="title_sm">编辑</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">系统配置</a></li>
        <li class="active">摄像头信息</li>
    </ol>
</section>

<section class="content">
    <div class="row form-horizontal">
        <div class="col-sm-12">
            <div class="box box-primary">
				<div class="box-header">
					<div style="padding-bottom: 6px;">请选择摄像头配置Excel文件</div>
					<input id="fileSelectorIpt" type="file" />
				</div>
                <div class="box-body">
					<div class="dataTables_filter" id="searchDiv">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-btn-type="add">新增</button>
							<button type="button" class="btn btn-default" data-btn-type="edit" >编辑</button>
							<button type="button" class="btn btn-default" data-btn-type="delete">删除</button>
						</div>	
					</div>
					<table id="user_table" class="table table-bordered table-striped table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="${basePath}/resources/common/libs/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="${basePath}/resources/common/libs/bootstrap-fileinput/js/locales/zh.js"></script>
<script type="text/javascript">
	$("#fileSelectorIpt").fileinput({
		'language': 'zh',
		'showPreview': false,
		'maxFilesNum': 1,
		'maxFileCount': 1,
		'allowedFileExtensions': ['xls', 'xlsx'],
		'uploadUrl': basePath + "/excelimporter/camera/upload"
	});

	//tableId,queryId,conditionContainer
	var userTable;
	var winId="userWin";
	$(function() { 
		//init table and fill data
		userTable = new CommonTable("user_table", "user_list", "searchDiv");
		
		//button event
		$('button[data-btn-type]').click(function() {
			var action = $(this).attr('data-btn-type');
			var rowId=userTable.getSelectedRowId();
			switch (action) {
			case 'add':
                   modals.openWin({
                   	winId:winId,
                   	title:'新增用户',
                   	width:'900px',
                   	url:basePath+"/user/edit"
                   	/*, hideFunc:function(){
                   		modals.info("hide me");
                   	},
                   	showFunc:function(){
                   		modals.info("show me");
                   	} */
                   });                        
				break;
			case 'edit':
				if(!rowId){
					modals.info('请选择要编辑的行');
					return false;
				}
				modals.openWin({
                   	winId:winId,
                   	title:'编辑用户【'+userTable.getSelectedRowData().name+'】',
                   	width:'900px',
                   	url:basePath+"/user/edit?id="+rowId
                   }); 
			   break;
			case 'delete':
				if(!rowId){
					modals.info('请选择要删除的行');
					return false;
				}
				modals.confirm("是否要删除该行数据？",function(){
					ajaxPost(basePath+"/user/delete/"+rowId,null,function(data){
						if(data.success){
							//modals.correct("已删除该数据");
							userTable.reloadRowData();
						}else{
							modals.error("用户数据被引用，不可删除！");
						}
					});
				})
				break;
			}

		});
		//form_init();
	})
</script>